<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/admin/style.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <h1>AdminPanel</h1>
        <section>
            <input type="text" placeholder="login" id="login">
            <input type="password" placeholder="password" id="password">
            <button>Войти</button>
        </section>
    </header> 
    <main>
        <section>
            <table id="show">
                <tr>
                    <td><b>Status</b></td>
                    <td><b>Order</b></td>
                    <td><b>Date</b></td>
                </tr>
            </table>
            <div id="add">
                <h3>Add card</h3>
                <input type="text" placeholder="name">
                <input type="text" placeholder="cost">
                <input type="text" placeholder="short description">
                <textarea placeholder="long description"></textarea>
                <input type="text" placeholder="img-src">
                <button onclick="add()">add</button>
            </div>
            <table id="refresh">
                <tr>
                    <td><b>name</b></td>
                    <td><b>cost</b></td>
                    <td><b>short description</b></td>
                    <td><b>long description</b></td>
                    <td><b>img-src</b></td>
                    <td><button>update</button></td>
                    <td><button>delete</button></td>
                </tr>
<!--                <tr>-->
<!--                    <td><input type="text" placeholder="name"></td>-->
<!--                    <td><input type="text" placeholder="cost"></td>-->
<!--                    <td><input type="text" placeholder="short description"></td>-->
<!--                    <td><textarea placeholder="long description"></textarea></td>-->
<!--                    <td><input type="text" placeholder="img-src"></td>-->
<!--                    <td><button onclick="update(1)">update</button></td>-->
<!--                    <td><button class="danger">delete</button></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><input type="text" placeholder="name"></td>-->
<!--                    <td><input type="text" placeholder="cost"></td>-->
<!--                    <td><input type="text" placeholder="short description"></td>-->
<!--                    <td><textarea placeholder="long description"></textarea></td>-->
<!--                    <td><input type="text" placeholder="img-src"></td>-->
<!--                    <td><button onclick="update(1)">update</button></td>-->
<!--                    <td><button class="danger">delete</button></td>-->
<!--                </tr>-->
            </table>
        </section>
    </main>
</body>
<script src="../static/scripts/admin/admin.js"></script>
</html>