<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True Games</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>
<body id="body">
    <div id="login-screen">
        <div id="login">
            <button onclick="login_out()"><</button>
            <h1>Авторизация</h1>
            <div>
                <input id="log" type="text">
                <input id="password" type="password">
                <button onclick="send_log()">Войти</button>
                <a href="#" onclick="ChangeLog(false)">зарегистрироваться</a>
            </div>
        </div>
    </div>


    <div id="up" onclick="button_up_hide()">
        <a href="#body">
            <img src="../static/img/arrow_up_cshay87zfupn.svg" alt="up">
        </a>
    </div>
    <header>
        <nav>
            <!-- <a href="#">Главная</a> -->
            <a href="#contact">Где искать</a>
            <a href="#catalog">Каталог</a>
            <a href="#about">О нас</a>
            <a href="#" onclick="login_in()" id="user">Войти</a>
        </nav>
    </header>
    <main>
        <section id="about">
            <img src="../static/img/battlefield-2042-key-art.jpg.adapt.crop1x1 1.svg" alt="about us">
            <div>
                <h1>О нас</h1>
                <p>Большой и очень длинный текст который в сжатом виде, но весьма доходчиво описывает нашу компанию.
                    Правда текст должен быть на столько большим, что мне даже лень его писать</p>
            </div>
        </section>
        <section id="catalog">
            <h1>Каталог</h1>
            <div class="cards">
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
                <div class="card">
                    <img src="../static/img/040_original 1.svg" alt="product">
                    <p>Какаята хрень</p>
                    <p>Цена: оно того не стоит</p>
                    <button onclick="addProduct('Какаята хрень')">добавить</button>
                </div>
            </div>
        </section>
    </main>
    <footer id="contact">
        <img src="../static/img/map 1.svg" alt="map">
        <div>
            <h1>Где нас искать?</h1>
            <p>ул. Сякова-Иакова 37</p>
            <p>8-800-555-35-35</p>
            <p>tipo@mail.ru</p>
        </div>
    </footer>
</body>
<script src="../static/scripts/buttom_up.js"></script>
<script src="../static/scripts/log.js"></script>
<script src="../static/scripts/buying.js"></script>
</html>